*{
  font-size: 36px;
}

.body-display{
  border-radius: 60px 60px 0px 0px;
}

.main-container{
  border-radius: 60px;
}

.body-buttons{
  border-radius: 0px 0px 40px 40px;
}

.body-button{
  width: 60px;
  height: 60px;
}

#cp-button{
  background-image: url('https://cdn-icons-png.flaticon.com/512/60/60990.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(.25);
}